<div class="container-fluid mt-4">
      <h4 class="text-white">Edit Products</h4>
      <form [formGroup]="editForm" (submit)="onSaveClick()">
            <div class="row mt-4">
                  <div class="col-lg-11 mt-4">
                        <label for="editName" class="text-white">Product Name</label>
                        <input type="text" id="editName" formControlName="editName" class="form-control">
                        <div class="text-danger" *ngIf="editName.errors?.maxlength || editName.errors?.minlength">
                              Product Name must be atleast 2 and atmost 10 characters long</div>
                        <div class="text-danger" *ngIf="editName.invalid && editName.errors.required">Product Name is
                              required</div>
                  </div>
                  <div class="col-lg-11 mt-5">
                        <label for="editURL" class="text-white">Image URL</label>
                        <input type="url" id="editURL" formControlName="editURL" class="form-control">
                        <div class="text-danger" *ngIf="editURL.invalid && editURL.errors.required"> Image URL is
                              required</div>
                  </div>
                  <div class="col-lg-3 mt-5">
                        <label for="editBrand" class="text-white">Brand</label>
                        <input type="text" id="editBrand" formControlName="editBrand" class="form-control">
                        <div class="text-danger" *ngIf="editBrand.invalid && editBrand.errors.required"> Brand is
                              required</div>
                  </div>
                  <div class="col-lg-3 mt-5">
                        <label for="editStock" class="text-white">Stock Count</label>
                        <input type="text" id="editStock" formControlName="editStock" class="form-control">
                        <div class="text-danger" *ngIf="editStock.invalid && editStock.errors.required"> Stock Count is
                              required</div>
                  </div>
                  <div class="col-lg-3 mt-5">
                        <label for="rate" class="text-white">Rate per Quantity</label>
                        <input type="text" id="rate" formControlName="rate" class="form-control">
                        <div class="text-danger" *ngIf="rate.invalid && rate.errors.required"> Rate is required</div>
                  </div>
                  <div class="col-lg-3 mt-5">
                        <label for="manufactureDate" class="text-white">Manufacture Date</label>
                        <input type="date" id="manufactureDate" formControlName="manufactureDate" class="form-control">
                        <div class="text-danger" *ngIf="manufactureDate.invalid && manufactureDate.errors.required">
                              Manufacture Date is required</div>
                  </div>
                  <div class="col-lg-3 mt-5">
                        <label for="expiryDate" class="text-white">Expiry Date</label>
                        <input type="date" id="expiryDate" formControlName="expiryDate" class="form-control">
                        <div class="text-danger" *ngIf="expiryDate.invalid && expiryDate.errors.required"> Expiry Date
                              is required</div>
                  </div>
                  <div class="col-lg-3 mt-5">
                        <label for="addDate" class="text-white">Add Date</label>
                        <input type="date" id="addDate" formControlName="addDate" class="form-control">
                        <div class="text-danger" *ngIf="addDate.invalid && addDate.errors.required"> Add Date is
                              required</div>
                  </div>
                  <div class="col-lg-3 mt-5">
                        <label for="type" class="text-white">Product Type</label>
                        <select class="form-control" id="type" formControlName="type">
                              <option></option>
                              <option *ngFor="let type of types" [value]="type"
                                    selected="type==editProduct.productType">{{type}}</option>
                        </select><br>
                        <div class="text-danger" *ngIf="type.invalid && type.errors.required"> Product Type is required
                        </div>
                  </div>
                  <div class="col-lg-3 mt-5">
                        <label for="aisle" class="text-white">Aisle</label>
                        <input type="text" id="aisle" formControlName="aisle" class="form-control">
                        <div class="text-danger" *ngIf="aisle.invalid && aisle.errors.required"> Aisle is required</div>
                  </div>
                  <div class="col-lg-3 mt-5">
                        <label for="shelf" class="text-white">Shelf</label>
                        <input type="text" id="shelf" formControlName="shelf" class="form-control">
                        <div class="text-danger" *ngIf="shelf.invalid && shelf.errors.required">Shelf is required</div>
                  </div>
            </div>
            <input type="submit" class="btn signup-btn" value="Save">
      </form><br><br><br><br>
</div>